<!DOCTYPE html>
<html lang="en">

<head>
<title>Error</title>
{{>headerlinks}}
<link rel="stylesheet" href="css/style.css">   
</head>

<body>
    
    <div class="center_img">
        <img src="img/404.jpg" alt="">
        <h3>oops you are on wrong track! </h3>
         <a href="/weather" class="btn"><button>Go Back</button></a>
    </div>

        {{!-- footer --}}
        

</body>

</html>